interactions:
- request:
    body: '{"sku": {"name": "Standard_GRS"}, "kind": "StorageV2", "location": "eastus",
      "tags": {"key1": "value1", "key2": "value2"}, "properties": {"encryption": {"services":
      {"blob": {"enabled": true, "keyType": "Account"}, "file": {"enabled": true,
      "keyType": "Account"}}, "keySource": "Microsoft.Storage"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_storage_test_storage_other52e01083/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzza?api-version=2019-06-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/0b71a958-63cd-4e73-898f-749f9403ac26?monitor=true&api-version=2019-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/0b71a958-63cd-4e73-898f-749f9403ac26?monitor=true&api-version=2019-06-01
  response:
    body:
      string: '{"sku":{"name":"Standard_GRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_storage_test_storage_other52e01083/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzza","name":"storageaccountxxyyzza","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{"key1":"value1","key2":"value2"},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-04-01T07:59:13.3657934Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-04-01T07:59:13.3657934Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2020-04-01T07:59:13.3032697Z","primaryEndpoints":{"dfs":"https://storageaccountxxyyzza.dfs.core.windows.net/","web":"https://storageaccountxxyyzza.z13.web.core.windows.net/","blob":"https://storageaccountxxyyzza.blob.core.windows.net/","queue":"https://storageaccountxxyyzza.queue.core.windows.net/","table":"https://storageaccountxxyyzza.table.core.windows.net/","file":"https://storageaccountxxyyzza.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available","secondaryLocation":"westus","statusOfSecondary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"timeToRestore": "2020-04-01T07:49:30.054286Z", "blobRanges": [{"startRange":
      "", "endRange": ""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_storage_test_storage_other52e01083/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzza/restoreBlobRanges?api-version=2019-06-01
  response:
    body:
      string: '{"error":{"code":"FeatureUnavailableInLocation","message":"A feature
        was requested which is not yet available in this location."}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 400
      message: Bad Request
version: 1
