interactions:
- request:
    body: '{"location": "West US", "tags": {"key1": "value1"}, "properties": {"disableVpnEncryption":
      false, "type": "Basic"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_express_route_test_networkecb61423/providers/Microsoft.Network/virtualWans/virtualwan?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"name\": \"virtualwan\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_express_route_test_networkecb61423/providers/Microsoft.Network/virtualWans/virtualwan\"\
        ,\r\n  \"etag\": \"W/\\\"f7ec974b-eff5-43ff-99e6-069c3587cb91\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {\r\n    \"key1\": \"value1\"\r\n  },\r\n  \"properties\"\
        : {\r\n    \"provisioningState\": \"Updating\",\r\n    \"disableVpnEncryption\"\
        : false,\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"allowVnetToVnetTraffic\"\
        : false,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\"\
        : \"Basic\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/e2003283-7fbf-4e98-80ba-6e8ab5e7d57d?api-version=2019-12-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/e2003283-7fbf-4e98-80ba-6e8ab5e7d57d?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"location": "West US", "tags": {"key1": "value1"}, "properties": {"virtualWan":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_express_route_test_networkecb61423/providers/Microsoft.Network/virtualWans/virtualwan"},
      "addressPrefix": "10.168.0.0/24", "sku": "Basic"}}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_express_route_test_networkecb61423/providers/Microsoft.Network/virtualHubs/virtualhub?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"name\": \"virtualhub\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_express_route_test_networkecb61423/providers/Microsoft.Network/virtualHubs/virtualhub\"\
        ,\r\n  \"etag\": \"W/\\\"0c74c886-6e1d-4894-bb1b-2feab3db05b9\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {\r\n    \"key1\": \"value1\"\r\n  },\r\n  \"properties\"\
        : {\r\n    \"provisioningState\": \"Updating\",\r\n    \"virtualNetworkConnections\"\
        : [],\r\n    \"virtualHubRouteTableV2s\": [],\r\n    \"addressPrefix\": \"\
        10.168.0.0/24\",\r\n    \"routeTable\": {\r\n      \"routes\": []\r\n    },\r\
        \n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_express_route_test_networkecb61423/providers/Microsoft.Network/virtualWans/virtualwan\"\
        \r\n    },\r\n    \"sku\": \"Basic\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/8f9d9d67-d7e5-41f7-b2c4-877958f46a2a?api-version=2019-12-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "properties": {"peeringLocation": "peeringLocationName",
      "bandwidthInGbps": 100, "encapsulation": "QinQ"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_express_route_test_networkecb61423/providers/Microsoft.Network/ExpressRoutePorts/expressrouteport?api-version=2019-12-01
  response:
    body:
      string: '{"error":{"code":"InvalidResourceType","message":"The resource type
        could not be found in the namespace ''Microsoft.Network'' for api version
        ''2019-12-01''."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
version: 1
