interactions:
- request:
    body: '{"location": "westus", "properties": {"peeringLocation": "peeringLocationName",
      "bandwidthInGbps": 100, "encapsulation": "QinQ"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_test_networkf7190e2c/providers/Microsoft.Network/ExpressRoutePorts/expressrouteport?api-version=2019-11-01
  response:
    body:
      string: '{"error":{"code":"InvalidResourceType","message":"The resource type
        could not be found in the namespace ''Microsoft.Network'' for api version
        ''2019-11-01''."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
version: 1
