interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard_L8s", "capacity": 2, "tier":
      "Standard"}, "identity": {"type": "SystemAssigned"}, "properties": {"enableStreamingIngest":
      true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Kusto/clusters/myClusterft2m?api-version=2020-02-15
  response:
    body:
      string: '{"error":{"code":"AuthenticationFailed","message":"Authentication failed.
        The ''Authorization'' header is missing."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization_uri="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        error="invalid_token", error_description="The authentication failed because
        of missing 'Authorization' header."
      x-ms-failure-cause:
      - gateway
    status:
      code: 401
      message: Unauthorized
version: 1
