interactions:
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/myaccount6ovy?api-version=2019-06-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/63ee1a57-b498-4451-9c87-404be0e29448?monitor=true&api-version=2019-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/63ee1a57-b498-4451-9c87-404be0e29448?monitor=true&api-version=2019-06-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/myaccount6ovy","name":"myaccount6ovy","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-07-09T08:05:46.7783502Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-07-09T08:05:46.7783502Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2020-07-09T08:05:46.7158705Z","primaryEndpoints":{"blob":"https://myaccount6ovy.blob.core.windows.net/","queue":"https://myaccount6ovy.queue.core.windows.net/","table":"https://myaccount6ovy.table.core.windows.net/","file":"https://myaccount6ovy.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "tags": {"tag1": "value1", "tag2": "value2"}, "sku":
      {"name": "Standard", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.EventHub/namespaces/mynamespace6ovy?api-version=2017-04-01
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.EventHub/namespaces/mynamespace6ovy","name":"mynamespace6ovy","type":"Microsoft.EventHub/Namespaces","location":"West
        US","tags":{"tag1":"value1","tag2":"value2"},"properties":{"isAutoInflateEnabled":false,"maximumThroughputUnits":0,"kafkaEnabled":true,"provisioningState":"Created","metricId":"00000000-0000-0000-0000-000000000000:mynamespace6ovy","createdAt":"2020-07-09T08:06:11.043Z","updatedAt":"2020-07-09T08:06:11.043Z","serviceBusEndpoint":"https://mynamespace6ovy.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '49'
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''b\''{"properties": {"messageRetentionInDays": 4, "partitionCount": 4,
      "status": "Active", "captureDescription": {"enabled": true, "encoding": "Avro",
      "intervalInSeconds": 120, "sizeLimitInBytes": 10485763, "destination": {"name":
      "EventHubArchive.AzureBlockBlob", "properties": {"storageAccountResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/myaccount6ovy",
      "blobContainer": "container", "archiveNameFormat": "{Namespace}/{EventHub}/{PartitionId}/{Year}/{Month}/{Day}/{Hour}/{Minute}/{Second}"}}}}}\'''''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.EventHub/namespaces/mynamespace6ovy/eventhubs/myEventhub6ovy?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.EventHub/namespaces/mynamespace6ovy/eventhubs/myEventhub6ovy","name":"myEventhub6ovy","type":"Microsoft.EventHub/Namespaces/EventHubs","location":"West
        US","properties":{"messageRetentionInDays":4,"partitionCount":4,"status":"Active","createdAt":"2020-07-09T08:07:16.743Z","updatedAt":"2020-07-09T08:07:19.393Z","partitionIds":["0","1","2","3"],"captureDescription":{"enabled":true,"encoding":"Avro","destination":{"name":"EventHubArchive.AzureBlockBlob","properties":{"storageAccountResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/myaccount6ovy","blobContainer":"container","archiveNameFormat":"{Namespace}/{EventHub}/{PartitionId}/{Year}/{Month}/{Day}/{Hour}/{Minute}/{Second}"}},"intervalInSeconds":120,"sizeLimitInBytes":10485763}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"userMetadata": "New consumergroup"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.EventHub/namespaces/mynamespace6ovy/eventhubs/myEventhub6ovy/consumergroups/testConsumerGroup1?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.EventHub/namespaces/mynamespace6ovy/eventhubs/myEventhub6ovy/consumergroups/testConsumerGroup1","name":"testConsumerGroup1","type":"Microsoft.EventHub/Namespaces/EventHubs/ConsumerGroups","location":"West
        US","properties":{"createdAt":"2020-07-09T08:07:21.6176176Z","updatedAt":"2020-07-09T08:07:21.6176176Z","userMetadata":"New
        consumergroup"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "sku": {"name": "Standard_L8s", "capacity": 2, "tier":
      "Standard"}, "identity": {"type": "SystemAssigned"}, "properties": {"enableStreamingIngest":
      true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Kusto/clusters/myCluster6ovy?api-version=2020-02-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Kusto/Clusters/myCluster6ovy","name":"myCluster6ovy","type":"Microsoft.Kusto/Clusters","etag":"\"\"","location":"westus","sku":{"name":"Standard_L8s","tier":"Standard","capacity":2},"properties":{"state":"Creating","enableStreamingIngest":true,"provisioningState":"Creating"},"identity":{"type":"SystemAssigned"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/westus/operationResults/dfa6e815-f68a-4845-9a4c-734a396d6f84?api-version=2020-02-15
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/westus/operationResults/dfa6e815-f68a-4845-9a4c-734a396d6f84?api-version=2020-02-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/westus/operationresults/dfa6e815-f68a-4845-9a4c-734a396d6f84","name":"dfa6e815-f68a-4845-9a4c-734a396d6f84","status":"Running","startTime":"2020-07-09T08:07:32.2003477Z","endTime":"2020-07-09T08:07:35.2374257Z","percentComplete":0.5,"properties":{"OperationKind":"ClusterCreateExternal","RootActivityId":"def00655-94f1-4467-afea-4fe2d2f3b409","provisioningState":"Running","OperationState":"InProgress"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Kusto/clusters/myCluster6ovy?api-version=2020-02-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Kusto/Clusters/myCluster6ovy","name":"myCluster6ovy","type":"Microsoft.Kusto/Clusters","etag":"\"\"","location":"West
        US","sku":{"name":"Standard_L8s","tier":"Standard","capacity":2},"tags":{},"properties":{"state":"Running","stateReason":null,"uri":"https://mycluster6ovy.westus.kusto.windows.net","dataIngestionUri":"https://ingest-mycluster6ovy.westus.kusto.windows.net","trustedExternalTenants":[],"virtualNetworkConfiguration":null,"optimizedAutoscale":null,"enableDiskEncryption":false,"enableStreamingIngest":true,"keyVaultProperties":null,"languageExtensions":{"value":[]},"enablePurge":null,"provisioningState":"Succeeded"},"identity":{"principalId":"4d67d7a7-d85d-44f9-bf59-bbf0ad8fc961","tenantId":"00000000-0000-0000-0000-000000000000","type":"SystemAssigned"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "kind": "ReadWrite", "properties": {"softDeletePeriod":
      "P1D"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Kusto/clusters/myCluster6ovy/databases/myDatabase6ovy?api-version=2020-02-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Kusto/Clusters/myCluster6ovy/Databases/myDatabase6ovy","name":"myCluster6ovy/myDatabase6ovy","type":"Microsoft.Kusto/Clusters/Databases","etag":"\"\"","location":"westus","kind":"ReadWrite","properties":{"softDeletePeriod":"P1D","provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/westus/operationResults/fe95400a-977f-4a0c-b163-a2cf0c0f03c0?api-version=2020-02-15
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Kusto/clusters/myCluster6ovy/databases/myDatabase6ovy?api-version=2020-02-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Kusto/Clusters/myCluster6ovy/Databases/myDatabase6ovy","name":"myCluster6ovy/myDatabase6ovy","type":"Microsoft.Kusto/Clusters/Databases","etag":"\"\"","location":"West
        US","kind":"ReadWrite","tags":{},"properties":{"isFollowed":false,"softDeletePeriodInDays":1,"softDeletePeriod":"P1D","hotCachePeriodInDays":0,"statistics":{"size":0.0},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: 'b''b\''{"location": "westus", "kind": "EventHub", "properties": {"eventHubResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.EventHub/namespaces/mynamespace6ovy/eventhubs/myEventhub6ovy",
      "consumerGroup": "testConsumerGroup1"}}\'''''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Kusto/clusters/myCluster6ovy/databases/myDatabase6ovy/dataConnections/myDataConnection6ovy?api-version=2020-02-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Kusto/Clusters/myCluster6ovy/Databases/myDatabase6ovy/DataConnections/myDataConnection6ovy","name":"myCluster6ovy/myDatabase6ovy/myDataConnection6ovy","type":"Microsoft.Kusto/Clusters/Databases/DataConnections","etag":"\"\"","location":"westus","kind":"EventHub","properties":{"eventHubResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.EventHub/namespaces/mynamespace6ovy/eventhubs/myEventhub6ovy","consumerGroup":"testConsumerGroup1","provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/westus/operationResults/cccfe0d3-0ef1-4d51-9b77-ae1125356765?api-version=2020-02-15
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Kusto/clusters/myCluster6ovy/databases/myDatabase6ovy/dataConnections/myDataConnection6ovy?api-version=2020-02-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Kusto/Clusters/myCluster6ovy/Databases/myDatabase6ovy/DataConnections/myDataConnection6ovy","name":"myCluster6ovy/myDatabase6ovy/myDataConnection6ovy","type":"Microsoft.Kusto/Clusters/Databases/DataConnections","etag":"\"\"","location":"West
        US","kind":"EventHub","tags":{},"properties":{"eventHubResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.EventHub/namespaces/mynamespace6ovy/eventhubs/myEventhub6ovy","consumerGroup":"testConsumerGroup1","tableName":"","mappingRuleName":"","dataFormat":"","eventSystemProperties":[],"compression":"None","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West%20US/operationResults/5098ddb3-d816-4aee-b173-ecdcb3ddcb13?api-version=2020-02-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West
        US/operationresults/5098ddb3-d816-4aee-b173-ecdcb3ddcb13","name":"5098ddb3-d816-4aee-b173-ecdcb3ddcb13","status":"Succeeded","startTime":"2020-07-09T08:17:48.5675861Z","endTime":"2020-07-09T08:17:50.9896867Z","percentComplete":1.0,"properties":{"OperationKind":"DmServiceEventHubObtainerAdd","RootActivityId":"a945ded1-35ee-4a03-9215-567353154728","provisioningState":"Succeeded","OperationState":"Completed"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '283'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "kustoprincipal1", "type": "Microsoft.Kusto/clusters/databases/principalAssignments"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Kusto/clusters/myCluster6ovy/databases/myDatabase6ovy/checkPrincipalAssignmentNameAvailability?api-version=2020-02-15
  response:
    body:
      string: '{"name":"kustoprincipal1","nameAvailable":true,"message":""}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "DataConnections8", "type": "Microsoft.Kusto/clusters/databases/dataConnections"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Kusto/clusters/myCluster6ovy/databases/myDatabase6ovy/checkNameAvailability?api-version=2020-02-15
  response:
    body:
      string: '{"name":"DataConnections8","nameAvailable":true,"message":""}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"value": [{"role": "Admin", "name": "Some User", "type": "User", "fqn":
      "aaduser=some_guid", "email": "user@microsoft.com", "appId": ""}, {"role": "Viewer",
      "name": "Kusto", "type": "Group", "fqn": "aadgroup=some_guid", "email": "kusto@microsoft.com",
      "appId": ""}, {"role": "Admin", "name": "SomeApp", "type": "App", "fqn": "aadapp=some_guid_app_id",
      "email": "", "appId": "some_guid_app_id"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Kusto/clusters/myCluster6ovy/databases/myDatabase6ovy/removePrincipals?api-version=2020-02-15
  response:
    body:
      string: '{"value":[{"name":"kerwins-app","role":"Admin","type":"App","fqn":"aadapp=8a95323f-4a83-4a69-903f-7d2c69349c3c;00000000-0000-0000-0000-000000000000","email":"","appId":"8a95323f-4a83-4a69-903f-7d2c69349c3c","tenantName":"Microsoft"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "kustoprincipal1", "type": "Microsoft.Kusto/clusters/principalAssignments"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Kusto/clusters/myCluster6ovy/checkPrincipalAssignmentNameAvailability?api-version=2020-02-15
  response:
    body:
      string: '{"name":"kustoprincipal1","nameAvailable":true,"message":""}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": [{"languageExtensionName": "PYTHON"}, {"languageExtensionName":
      "R"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Kusto/clusters/myCluster6ovy/removeLanguageExtensions?api-version=2020-02-15
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West
        US/operationResults/69684bf1-7a54-4df2-981b-13b6657c65da?api-version=2020-02-15
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West%20US/operationResults/69684bf1-7a54-4df2-981b-13b6657c65da?api-version=2020-02-15&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West%20US/operationResults/69684bf1-7a54-4df2-981b-13b6657c65da?api-version=2020-02-15&operationResultResponseType=Location
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '280'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Kusto/clusters/myCluster6ovy/diagnoseVirtualNetwork?api-version=2020-02-15
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West
        US/operationResults/b026cac7-8aa5-465e-8f37-4374182f4702?api-version=2020-02-15
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West%20US/operationResults/b026cac7-8aa5-465e-8f37-4374182f4702?api-version=2020-02-15&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West%20US/operationResults/b026cac7-8aa5-465e-8f37-4374182f4702?api-version=2020-02-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West
        US/operationresults/b026cac7-8aa5-465e-8f37-4374182f4702","name":"b026cac7-8aa5-465e-8f37-4374182f4702","status":"Succeeded","startTime":"2020-07-09T08:19:25.9095144Z","endTime":"2020-07-09T08:24:26.4989372Z","percentComplete":1.0,"properties":{"Findings":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '280'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": [{"languageExtensionName": "PYTHON"}, {"languageExtensionName":
      "R"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Kusto/clusters/myCluster6ovy/addLanguageExtensions?api-version=2020-02-15
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West
        US/operationResults/e43a621a-0250-4523-b396-693f786e5590?api-version=2020-02-15
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West%20US/operationResults/e43a621a-0250-4523-b396-693f786e5590?api-version=2020-02-15&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"name": "kustoresourcename1", "type": "Microsoft.Kusto/clusters/databases"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Kusto/clusters/myCluster6ovy/checkNameAvailability?api-version=2020-02-15
  response:
    body:
      string: '{"name":"kustoresourcename1","nameAvailable":true,"message":""}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Kusto/clusters/myCluster6ovy/start?api-version=2020-02-15
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West
        US/operationResults/402391c0-861e-49a7-8c93-6b4952961710?api-version=2020-02-15
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West%20US/operationResults/402391c0-861e-49a7-8c93-6b4952961710?api-version=2020-02-15&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Kusto/clusters/myCluster6ovy/stop?api-version=2020-02-15
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West
        US/operationResults/f63afac7-ceb5-4f47-a0f3-6dc970fbd46c?api-version=2020-02-15
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West%20US/operationResults/f63afac7-ceb5-4f47-a0f3-6dc970fbd46c?api-version=2020-02-15&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Kusto/clusters/myCluster6ovy/databases/myDatabase6ovy/dataConnections/myDataConnection6ovy?api-version=2020-02-15
  response:
    body:
      string: '{"error":{"code":"BadRequest","message":"You are requesting an operation
        that is not permitted in the cluster''s current state."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 400
      message: Bad Request
version: 1
