interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_cli_mgmt_monitor_test_guest_diagnostics_settings511e160f/providers/microsoft.insights/guestDiagnosticSettings/diagnosticsettings511e160f?api-version=2018-06-01-preview
  response:
    body:
      string: '{"error":{"code":"InvalidResourceType","message":"The resource type
        could not be found in the namespace ''microsoft.insights'' for api version
        ''2018-06-01-preview''."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
version: 1
