interactions:
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_autoscale_settingsace912b1/providers/Microsoft.Network/virtualNetworks/networkxx?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"networkxx\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_autoscale_settingsace912b1/providers/Microsoft.Network/virtualNetworks/networkxx\"\
        ,\r\n  \"etag\": \"W/\\\"e9134548-180e-4a86-b49f-4ec8d171e8ed\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"resourceGuid\": \"e7605f89-e899-490c-ab1e-8198b5043ed0\",\r\n    \"\
        addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\
        \r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\"\
        : [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\"\
        : false\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/ff4a0d9d-c7ae-46d6-ac9a-1a0bf77093df?api-version=2019-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/ff4a0d9d-c7ae-46d6-ac9a-1a0bf77093df?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"addressPrefix": "10.0.0.0/24"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_autoscale_settingsace912b1/providers/Microsoft.Network/virtualNetworks/networkxx/subnets/subnetx?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"subnetx\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_autoscale_settingsace912b1/providers/Microsoft.Network/virtualNetworks/networkxx/subnets/subnetx\"\
        ,\r\n  \"etag\": \"W/\\\"65c6ad39-0b28-4f46-bd56-a0b65b372a9f\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        addressPrefix\": \"10.0.0.0/24\",\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\"\
        : \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\
        \n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/658961dd-0a24-4e4e-a93f-a7877239b0f4?api-version=2019-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'b''{"location": "eastus", "properties": {"ipConfigurations": [{"properties":
      {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_autoscale_settingsace912b1/providers/Microsoft.Network/virtualNetworks/networkxx/subnets/subnetx"}},
      "name": "MyIpConfig"}]}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_autoscale_settingsace912b1/providers/Micro[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_autoscale_settingsace912b1/providers/Microsoft.Network/networkInterfaces/interfacexx?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"interfacexx\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_autoscale_settingsace912b1/providers/Microsoft.Network/networkInterfaces/interfacexx\"\
        ,\r\n  \"etag\": \"W/\\\"2d38a76f-dfb1-4f31-a0bf-a83f556a32ca\\\"\",\r\n \
        \ \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"resourceGuid\": \"8b923c4a-4d02-4a40-81a1-d873b757855b\"\
        ,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"MyIpConfig\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_autoscale_settingsace912b1/providers/Microsoft.Network/networkInterfaces/interfacexx/ipConfigurations/MyIpConfig\"\
        ,\r\n        \"etag\": \"W/\\\"2d38a76f-dfb1-4f31-a0bf-a83f556a32ca\\\"\"\
        ,\r\n        \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\"\
        : \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_autoscale_settingsace912b1/providers/Microsoft.Network/virtualNetworks/networkxx/subnets/subnetx\"\
        \r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\"\
        : \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n\
        \      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"\
        internalDomainNameSuffix\": \"rfpwbz2z3agetky4qgmlkbb40a.bx.internal.cloudapp.net\"\
        \r\n    },\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"enableIPForwarding\"\
        : false,\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": []\r\
        \n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2d38a76f-dfb1-4f31-a0bf-a83f556a32ca"
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"location": "eastus", "sku": {"name": "Standard_D1_v2", "tier": "Standard",
      "capacity": 2}, "properties": {"upgradePolicy": {"mode": "Manual"}, "virtualMachineProfile":
      {"osProfile": {"computerNamePrefix": "testPC", "adminUsername": "testuser",
      "adminPassword": "Aa!1()-xyz"}, "storageProfile": {"imageReference": {"publisher":
      "Canonical", "offer": "UbuntuServer", "sku": "18.04-LTS", "version": "latest"},
      "osDisk": {"caching": "ReadWrite", "createOption": "FromImage", "diskSizeGB":
      512, "managedDisk": {"storageAccountType": "Standard_LRS"}}}, "networkProfile":
      {"networkInterfaceConfigurations": [{"name": "testPC", "properties": {"primary":
      true, "ipConfigurations": [{"name": "testPC", "properties": {"subnet": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_autoscale_settingsace912b1/providers/Microsoft.Network/virtualNetworks/networkxx/subnets/subnetx"}}}]}}]}},
      "overprovision": true}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_autoscale_settingsace912b1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss_name?api-version=2019-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"vmss_name\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_autoscale_settingsace912b1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss_name\"\
        ,\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\"\
        : \"eastus\",\r\n  \"sku\": {\r\n    \"name\": \"Standard_D1_v2\",\r\n   \
        \ \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\"\
        : {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n\
        \      \"mode\": \"Manual\"\r\n    },\r\n    \"virtualMachineProfile\": {\r\
        \n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"testPC\",\r\n\
        \        \"adminUsername\": \"testuser\",\r\n        \"linuxConfiguration\"\
        : {\r\n          \"disablePasswordAuthentication\": false,\r\n          \"\
        provisionVMAgent\": true\r\n        },\r\n        \"secrets\": [],\r\n   \
        \     \"allowExtensionOperations\": true,\r\n        \"requireGuestProvisionSignal\"\
        : true\r\n      },\r\n      \"storageProfile\": {\r\n        \"osDisk\": {\r\
        \n          \"createOption\": \"FromImage\",\r\n          \"caching\": \"\
        ReadWrite\",\r\n          \"managedDisk\": {\r\n            \"storageAccountType\"\
        : \"Standard_LRS\"\r\n          },\r\n          \"diskSizeGB\": 512\r\n  \
        \      },\r\n        \"imageReference\": {\r\n          \"publisher\": \"\
        Canonical\",\r\n          \"offer\": \"UbuntuServer\",\r\n          \"sku\"\
        : \"18.04-LTS\",\r\n          \"version\": \"latest\"\r\n        }\r\n   \
        \   },\r\n      \"networkProfile\": {\"networkInterfaceConfigurations\":[{\"\
        name\":\"testPC\",\"properties\":{\"primary\":true,\"enableAcceleratedNetworking\"\
        :false,\"dnsSettings\":{\"dnsServers\":[]},\"enableIPForwarding\":false,\"\
        ipConfigurations\":[{\"name\":\"testPC\",\"properties\":{\"subnet\":{\"id\"\
        :\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_autoscale_settingsace912b1/providers/Microsoft.Network/virtualNetworks/networkxx/subnets/subnetx\"\
        },\"privateIPAddressVersion\":\"IPv4\"}}]}}]}\r\n    },\r\n    \"provisioningState\"\
        : \"Creating\",\r\n    \"overprovision\": true,\r\n    \"doNotRunExtensionsOnOverprovisionedVMs\"\
        : false,\r\n    \"uniqueId\": \"266bb025-e872-4a53-894d-eeed13675be6\"\r\n\
        \  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/b12a6854-f6f6-40e4-b504-4048e1941c20?api-version=2019-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateVMScaleSet3Min;59,Microsoft.Compute/CreateVMScaleSet30Min;298,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1196,Microsoft.Compute/VmssQueuedVMOperations;4796
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
      x-ms-request-charge:
      - '4'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/b12a6854-f6f6-40e4-b504-4048e1941c20?api-version=2019-07-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2020-04-07T16:55:51.2491933+00:00\",\r\n  \"\
        status\": \"InProgress\",\r\n  \"name\": \"b12a6854-f6f6-40e4-b504-4048e1941c20\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29990
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"location": "West US", "properties": {"profiles": [{"name": "adios",
      "capacity": {"minimum": "1", "maximum": "10", "default": "1"}, "rules": []}],
      "notifications": [{"operation": "Scale", "email": {"sendToSubscriptionAdministrator":
      true, "sendToSubscriptionCoAdministrators": true, "customEmails": ["gu@ms.com",
      "ge@ns.net"]}, "webhooks": []}], "enabled": true, "targetResourceUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_autoscale_settingsace912b1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss_name"}}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_cli_mgmt_monitor_test_autoscale_settingsace912b1/providers/microsoft.insights/autoscalesettings/autoscalesetting?api-version=2015-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_autoscale_settingsace912b1/providers/microsoft.insights/autoscalesettings/autoscalesetting","name":"autoscalesetting","type":"Microsoft.Insights/autoscaleSettings","location":"West
        US","tags":{},"properties":{"profiles":[{"name":"adios","capacity":{"minimum":"1","maximum":"10","default":"1"},"rules":[]}],"enabled":true,"name":"autoscalesetting","targetResourceUri":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_autoscale_settingsace912b1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss_name","notifications":[{"operation":"Scale","email":{"sendToSubscriptionAdministrator":true,"sendToSubscriptionCoAdministrators":true,"customEmails":["gu@ms.com","ge@ns.net"]},"webhooks":[]}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1192'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_cli_mgmt_monitor_test_autoscale_settingsace912b1/providers/microsoft.insights/autoscalesettings/autoscalesetting?api-version=2015-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_autoscale_settingsace912b1/providers/microsoft.insights/autoscalesettings/autoscalesetting","name":"autoscalesetting","type":"Microsoft.Insights/autoscaleSettings","location":"West
        US","tags":{},"properties":{"profiles":[{"name":"adios","capacity":{"minimum":"1","maximum":"10","default":"1"},"rules":[]}],"enabled":true,"name":"autoscalesetting","targetResourceUri":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_autoscale_settingsace912b1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss_name","notifications":[{"operation":"Scale","email":{"sendToSubscriptionAdministrator":true,"sendToSubscriptionCoAdministrators":true,"customEmails":["gu@ms.com","ge@ns.net"]},"webhooks":[]}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
