interactions:
- request:
    body: 'b''b\''{"tags": {"dept": "Initech"}, "location": "eastus", "properties":
      {"cacheSizeGB": 3072, "subnet": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_storagecache_test_storagecache96bf11ea/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"},
      "sku": {"name": "Standard_2G"}}\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_cli_mgmt_storagecache_test_storagecache96bf11ea/providers/Microsoft.StorageCache/caches/testCache?api-version=2019-11-01
  response:
    body:
      string: '{"error":{"code":"InvalidResourceType","message":"The resource type
        could not be found in the namespace ''Microsoft.StorageCache'' for api version
        ''2019-11-01''."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
version: 1
