interactions:
- request:
    body: 'b''{"location": "eastus", "properties": {"tenantId": "00000000-0000-0000-0000-000000000000",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "00000000-0000-0000-0000-000000000000", "objectId": "123743cc-88ef-49ee-920e-13958fe5697d",
      "permissions": {"keys": ["encrypt", "decrypt", "wrapKey", "unwrapKey", "sign",
      "verify", "get", "list", "create", "update", "import", "delete", "backup", "restore",
      "recover", "purge"]}}], "enabledForDiskEncryption": true}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.KeyVault/vaults/keyvaultxmmx3d1e15ac?api-version=2018-02-14
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.KeyVault/vaults/keyvaultxmmx3d1e15ac","name":"keyvaultxmmx3d1e15ac","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"00000000-0000-0000-0000-000000000000","accessPolicies":[{"tenantId":"00000000-0000-0000-0000-000000000000","objectId":"123743cc-88ef-49ee-920e-13958fe5697d","permissions":{"keys":["encrypt","decrypt","wrapKey","unwrapKey","sign","verify","get","list","create","update","import","delete","backup","restore","recover","purge"]}}],"enabledForDeployment":false,"enabledForDiskEncryption":true,"vaultUri":"https://keyvaultxmmx3d1e15ac.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://keyvaultxmmx3d1e15ac.vault.azure.net/keys/testkey/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "key_size": 2048, "attributes": {"exp": 2527401600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://keyvaultxmmx3d1e15ac.vault.azure.net/keys/testkey/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://keyvaultxmmx3d1e15ac.vault.azure.net/keys/testkey/1730fe41693b4b4797b1ce406d08c94a","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"sGguGBL0z-AWCNTzqn4bNLMQmbS2gSoBe3QOdETWvLhrsfSFmBV1aiTx8PTwAutO7xnzdmUAwMvFW2D09YaO--LWQPMYSgH7M6F-lWVy_Unt3cUpCJm6994tCUo9xIsxvMATcdpDaPzJtrqiucAFt8o8K84eBy_XJjWlzme5lhZZ-7Q0wQM3utfwxMenZ8FaLBlHaYy6xAi0keT3Gncxnrdyb2LycaarjPra4gMVlXoHmzcp0-z_A03pGRhkTRhCdAb4w374XQNX9vmgwZJEFnioFPtcGvXP0iLnV5vBRC1cKiFVNGIlcfVx31da31A0MiLwG9ONVe3vH-ylk33kNw","e":"AQAB"},"attributes":{"enabled":true,"exp":2527401600,"created":1591591836,"updated":1591591836,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''b\''{"location": "eastus", "identity": {"type": "SystemAssigned"}, "properties":
      {"activeKey": {"sourceVault": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.KeyVault/vaults/keyvaultxmmx3d1e15ac"},
      "keyUrl": "https://keyvaultxmmx3d1e15ac.vault.azure.net/keys/testkey/1730fe41693b4b4797b1ce406d08c94a"}}}\'''''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/diskEncryptionSets/diskencryptionset3d1e15ac?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"location\": \"eastus\",\r\n  \"identity\": {\r\n    \"type\"\
        : \"SystemAssigned\"\r\n  },\r\n  \"properties\": {\r\n    \"activeKey\":\
        \ {\r\n      \"sourceVault\": {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.KeyVault/vaults/keyvaultxmmx3d1e15ac\"\
        \r\n      },\r\n      \"keyUrl\": \"https://keyvaultxmmx3d1e15ac.vault.azure.net/keys/testkey/1730fe41693b4b4797b1ce406d08c94a\"\
        \r\n    },\r\n    \"provisioningState\": \"Updating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/DiskOperations/7d4bd6d6-85d6-4fcf-bded-969857258e95?api-version=2019-11-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/HighCostDiskEncryptionSet3Min;99,Microsoft.Compute/HighCostDiskEncryptionSet30Min;299
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/DiskOperations/7d4bd6d6-85d6-4fcf-bded-969857258e95?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2020-06-08T04:50:46.4995692+00:00\",\r\n  \"\
        endTime\": \"2020-06-08T04:50:46.5776944+00:00\",\r\n  \"status\": \"Succeeded\"\
        ,\r\n  \"properties\": {\r\n    \"output\": {\"name\":\"diskencryptionset3d1e15ac\"\
        ,\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/diskEncryptionSets/diskencryptionset3d1e15ac\"\
        ,\"type\":\"Microsoft.Compute/diskEncryptionSets\",\"location\":\"eastus\"\
        ,\"identity\":{\"type\":\"SystemAssigned\",\"principalId\":\"bc4ca429-4e84-4074-acfc-840fc9e810ca\"\
        ,\"tenantId\":\"00000000-0000-0000-0000-000000000000\"},\"properties\":{\"\
        activeKey\":{\"sourceVault\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.KeyVault/vaults/keyvaultxmmx3d1e15ac\"\
        },\"keyUrl\":\"https://keyvaultxmmx3d1e15ac.vault.azure.net/keys/testkey/1730fe41693b4b4797b1ce406d08c94a\"\
        },\"provisioningState\":\"Succeeded\"}}\r\n  },\r\n  \"name\": \"7d4bd6d6-85d6-4fcf-bded-969857258e95\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49990,Microsoft.Compute/GetOperation30Min;399981
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/diskEncryptionSets/diskencryptionset3d1e15ac?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"diskencryptionset3d1e15ac\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/diskEncryptionSets/diskencryptionset[...]
[...]
- request:
    body: 'b''b\''{"tags": {"department": "Development", "project": "Encryption"},
      "properties": {"activeKey": {"sourceVault": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.KeyVault/vaults/keyvaultxmmx3d1e15ac"},
      "keyUrl": "https://keyvaultxmmx3d1e15ac.vault.azure.net/keys/testkey/1730fe41693b4b4797b1ce406d08c94a"}}}\'''''
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceG[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/DiskOperations/c5957ded-c62e-4d04-80da-c25a9f10efc8?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2020-06-08T04:51:52.9018109+00:00\",\r\n  \"\
        endTime\": \"2020-06-08T04:51:52.9487404+00:00\",\r\n  \"status\": \"Succeeded\"\
        ,\r\n  \"name\": \"c5957ded-c62e-4d04-80da-c25a9f10efc8\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49992,Microsoft.Compute/GetOperation30Min;399977
    status:
      code: 200
      message: OK
version: 1
