interactions:
- request:
    body: '{"location": "eastus", "tags": {"department": "finance"}, "zones": ["1"],
      "properties": {"platformFaultDomainCount": 3}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/hostGroups/hostgroup640e162b?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"name\": \"hostgroup640e162b\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/VOMUTDOAK5QM5XCRFLX6UVBBSNPB5OKMXOFHONNBZL3T7ETJK5B3LFHKYNPKL3E5RA34K7IFRSV/providers/Microsoft.Compute/hostGroups/hostgroup640e162b\"\
        ,\r\n  \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"department\": \"\
        finance\"\r\n  },\r\n  \"zones\": [\r\n    \"1\"\r\n  ],\r\n  \"properties\"\
        : {\r\n    \"platformFaultDomainCount\": 3\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteDedicatedHost3Min;119,Microsoft.Compute/PutDeleteDedicatedHost30Min;599
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "eastus", "tags": {"department": "HR"}, "sku": {"name": "DSv3-Type1"},
      "properties": {"platformFaultDomain": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/hostGroups/hostgroup640e162b/hosts/hostname640e162b?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"name\": \"hostname640e162b\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/hostGroups/hostgroup640e162b/hosts/hostname640e162b\"\
        ,\r\n  \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"department\": \"\
        HR\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"DSv3-Type1\"\r\n  },\r\n \
        \ \"properties\": {\r\n    \"platformFaultDomain\": 1,\r\n    \"autoReplaceOnFailure\"\
        : true,\r\n    \"hostId\": \"e36553f0-dd09-4a3f-b522-cb5717e5e861\",\r\n \
        \   \"provisioningState\": \"Creating\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/070f5ff5-4b27-4ec7-8f17-b8d9e30777d9?api-version=2019-12-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteDedicatedHost3Min;118,Microsoft.Compute/PutDeleteDedicatedHost30Min;598
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/070f5ff5-4b27-4ec7-8f17-b8d9e30777d9?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2020-06-08T04:46:15.0212519+00:00\",\r\n  \"\
        endTime\": \"2020-06-08T04:46:15.2868706+00:00\",\r\n  \"status\": \"Succeeded\"\
        ,\r\n  \"name\": \"070f5ff5-4b27-4ec7-8f17-b8d9e30777d9\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14985,Microsoft.Compute/GetOperation30Min;29949
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/hostGroups/hostgroup640e162b/hosts/hostname640e162b?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"name\": \"hostname640e162b\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/hostGroups/hostgroup640e162b/hosts/hostname640e162b\"\
        ,\r\n  \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"department\": \"\
        HR\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"DSv3-Type1\"\r\n  },\r\n \
        \ \"properties\": {\r\n    \"platformFaultDomain\": 1,\r\n    \"autoReplaceOnFailure\"\
        : true,\r\n    \"hostId\": \"e36553f0-dd09-4a3f-b522-cb5717e5e861\",\r\n \
        \   \"virtualMachines\": [],\r\n    \"provisioningTime\": \"2020-06-08T04:46:15.2243692+00:00\"\
        ,\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetDedicatedHost3Min;247,Microsoft.Compute/GetDedicatedHost30Min;997
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/hostGroups/hostgroup640e162b?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"name\": \"hostgroup640e162b\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/VOMUTDOAK5QM5XCRFLX6UVBBSNPB5OKMXOFHONNBZL3T7ETJK5B3LFHKYNPKL3E5RA34K7IFRSV/providers/Microsoft.Compute/hostGroups/hostgroup640e162b\"\
        ,\r\n  \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"department\": \"\
        finance\"\r\n  },\r\n  \"zones\": [\r\n    \"1\"\r\n  ],\r\n  \"properties\"\
        : {\r\n    \"platformFaultDomainCount\": 3,\r\n    \"hosts\": [\r\n      {\r\
        \n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/VOMUTDOAK5QM5XCRFLX6UVBBSNPB5OKMXOFHONNBZL3T7ETJK5B3LFHKYNPKL3E5RA34K7IFRSV/providers/Microsoft.Compute/hostGroups/HOSTGROUP640E162B/hosts/HOSTNAME640E162B\"\
        \r\n      }\r\n    ]\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetDedicatedHost30Min;996
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/hostGroups/hostgroup640e162b/hosts/hostname640e162b?$expand=instanceView&api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"name\": \"hostname640e162b\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/hostGroups/hostgroup640e162b/hosts/hostname640e162b\"\
        ,\r\n  \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"department\": \"\
        HR\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"DSv3-Type1\"\r\n  },\r\n \
        \ \"properties\": {\r\n    \"platformFaultDomain\": 1,\r\n    \"autoReplaceOnFailure\"\
        : true,\r\n    \"hostId\": \"e36553f0-dd09-4a3f-b522-cb5717e5e861\",\r\n \
        \   \"virtualMachines\": [],\r\n    \"provisioningTime\": \"2020-06-08T04:46:15.2243692+00:00\"\
        ,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\": {\r\
        \n      \"assetId\": \"3d122914-a893-4fc2-a8d4-ec3d197bcdbb\",\r\n      \"\
        availableCapacity\": {\r\n        \"allocatableVMs\": [\r\n          {\r\n\
        \            \"vmSize\": \"Standard_D2hs_v3\",\r\n            \"count\": 32\r\
        \n          },\r\n          {\r\n            \"vmSize\": \"Standard_D2s_v3\"\
        ,\r\n            \"count\": 32\r\n          },\r\n          {\r\n        \
        \    \"vmSize\": \"Standard_D4hs_v3\",\r\n            \"count\": 16\r\n  \
        \        },\r\n          {\r\n            \"vmSize\": \"Standard_D4s_v3\"\
        ,\r\n            \"count\": 16\r\n          },\r\n          {\r\n        \
        \    \"vmSize\": \"Standard_D8hs_v3\",\r\n            \"count\": 8\[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/hostGroups/hostgroup640e162b?api-version=2019-12-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteDedicatedHost3Min;114,Microsoft.Compute/PutDeleteDedicatedHost30Min;594
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14997'
    status:
      code: 200
      message: OK
version: 1
